/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-01-2017, 13:24:34
    Author     : TheHasax
*/

body {
    max-width: 100%;
    /*background-color: red;*/ /*For testing purposes*/
}
h1 {
    font-size: 1.22em;
    text-decoration: none;
    padding-bottom: 15px;
}
h3 {
    font-family: 'Abel', Helvetica, Arial, sans-serif
}
header {
    float: left;
}

/*IDs*/

#bgvid {
    position: fixed;
    top: 0%;
    left: 0%;
    max-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow:auto;
}
#big_logo {
    text-align: center;
    max-width: 50%;
    margin-bottom: 15px;
    padding: 0;
}
#big_logo img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
#header_info {
    display: none;
    max-width: 100%;
    margin: 50px 30px;
    padding: 30px;
    background: rgba(0,136,204,0.8);
    width: 40%;
    color: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
#header_info h1 {
    margin: 0;
}
#header_info p a {
    background: rgb(36,179,36);
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}
#header_info p a:hover {
    background: rgb(34,139,34);
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    transition: .5s ease;
}
#info_1 img {
    background: url(../images/autotrack.gif) no-repeat center;
    background-size: auto 100%;
}
#info_2 img {
    background: url(../images/mode.gif) no-repeat center;
    background-size: auto 100%;
}
#info_3 img {
    background: url(../images/移动延时1.gif) no-repeat center;
    background-size: auto 100%;
}
#info_4 img {
    background: url(../images/charge.jpg) no-repeat center;
    background-size: auto 100%;
}


#top_header {
    height: 25px;
    max-height: 25px;
    background: black;
    position: fixed;
    z-index: 100;
    color: white;
}
#top_header img {
    height: 100%;
    padding: 2px 0 2px;
}
#wrapper {
    text-align: center;
    background: white;
    position: absolute;
    top: 154px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    z-index: 50;
}
#wrapperSU {
    background: white;
    position: absolute;
    padding-top: 40px;
    z-index: 50;
}

/*Classes*/

.clear {
    float: none;
}

.filler {
    color: red;
    border: 1px solid black;
    opacity: 0;
    height: 200px;
    display: none;
}
.filler1 {
    color: red;
    border: 1px solid black;
    opacity: 0;
    height: 15px;
    display: none;
}
.filler img {
    max-width: 100%;
    position: relative;
}
.filler1 img {
    max-width: 100%;
    position: absolute;
}
.footer {
    background: black;
    height: 120px;
    width: 100%;
    color: white;
    position: relative;
    z-index: 100;
    bottom: 0px;
    margin-top: 30px;
}
.footleft {
    text-align: left;
}
.footright {
    text-align: right;
}
.navBtn {
    margin-top: 25px;
}
.navBtn p a{
    background: rgb(36,179,36);
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.signupForm {
    padding: 50px;
    background: rgba(0,136,204,0.8);
}
.space {
    height: 50px;
}
.submit {
    padding: 50px;
    background: rgba(0,136,204,0.8);
}
.test_blank {
    width: auto;
    height: 300px;
    display: none; /*This will make the cut images not be cut in mobile ver.*/
}
.test_blank_mb {
    width: 100%;
    height: 300px;
    display: block; /*This will make the cut images not be cut in mobile ver.*/
}
.test_blank img {
    width: 100%;
    height: 100%;
    max-height: 100%
}
.test_blank_mb img {
    width: 100%;
    height: 100%;
    max-height: 100%
}
.test_left {
    max-width: 100%;
    max-height: 300px;
    height: 300px;
    position: relative;
    padding: 0;
    z-index: 1;
}
.test_right {
    max-width: 100%;
    max-height: 300px;
    height: 300px;
    position: relative;
    padding: 0;
    z-index: 1;
}
.test_text_left {
    position: relative;
    z-index: 2;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    padding-top: 25px;
    text-align: left;
}
.test_text_right {
    position: relative;
    z-index: 2;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    padding-top: 25px;
    text-align: right;
}


@media only screen and (min-width: 768px) {

    #big_logo img {
        width: 50%;
    }
    #header_info {
        display: block;
    }
    #wrapper {
        position: relative;
        top: 0px;
    }
    .filler1 {
        display: block;
    }
    .footer {
        position: relative;
        top: 0px;
    }
    .test_blank {
        display: block;
    }
    .test_blank_mb {
        display: none;
    }
    .test_text_left {
        font-size: 1.2em;
        top: 20px;
        right: -10%;
        padding-top: 0;
    }
    .test_text_right {
        font-size: 1.2em;
        top: 20px;
        left: -20%;
        padding-top: 0;
    }
}
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 3vmin;
    }
    h3 {
        font-size: 4.2vmin;
    }
    #header_info {
        display: block;
    }
    #header_info a {
        font-size: 3vmin;
    }
    #top_header p {
        font-size: 2.5vmin;
    }
    #wrapper {
        position: relative;
        top: 0px;
    }
    .navBtn a {
        font-size: 3vmin;
    }
    .test_blank {
        display: block;
    }
    .test_blank_mb {
        display: none;
    }
    .filler {
        display: block;
    }
    .filler1 {
        display: block;
    }
    .footer {
        position: relative;
        top: 0px;
    }
    .h1 {
        font-size: 6vmin;
    }
    .test_right {
        left: -16.66666667%;
    }
    .test_text_left {
        font-size: 2.7vmin;
        top: 20px;
        right: -10%;
    }
    .test_text_right {
        font-size: 2.7vmin;
        top: 20px;
        left: -20%;
    }
}
